@use "@/styles/index" as *;

.wrapper {
  display: none;

  @include minWidth(xl) {
    display: block;
    margin-bottom: 40px;
  }
}

.list {
  display: flex;
  gap: 4px;
}

.item {
  @include gradientText;
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 1.5;
}

.arrow,
.separator,
.label {
  display: block;
}
