@use "@/styles/index" as *;

.container {
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
  padding: 0 16px;
}

@include minWidth(md) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}

@include minWidth(xl) {
  .container {
    min-width: 1440px;
    padding: 0 48px;
  }
}
