@use "@/styles/index" as *;

.pageWrapper {
  position: relative;
  padding-top: 146px;
  padding-bottom: 54px;

  @include minWidth(xl) {
    padding-top: 120px;

    &.homePage {
      padding-top: 140px;
    }
  }
}
