@use "@/styles/index" as *;

.itemCard {
  @include flexBetween;
  position: relative;
  flex-direction: column;
  padding: 10px 8px;
  border-radius: var(--radius-16);
  background: var(--color-section-bg);

  &::before {
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(180deg, rgba(80, 83, 87, 0.2), #adb5bd);
    content: "";
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &.common::before {
    background: linear-gradient(
      180deg,
      rgba(69.1, 85.19, 108.17, 0.2),
      rgba(49.34, 65.09, 87.59, 1)
    );
  }

  &.uncommon::before {
    background: linear-gradient(
      180deg,
      rgba(0, 166.08, 61.71, 0.2),
      rgba(0, 130.05, 53.5, 1)
    );
  }

  &.rare::before {
    background: linear-gradient(
      180deg,
      rgba(21.32, 92.93, 251.52, 0.2),
      rgba(19.87, 71.18, 229.95, 1)
    );
  }

  &.epic::before {
    background: linear-gradient(
      180deg,
      rgba(152.19, 15.74, 250.25, 0.2),
      rgba(130.03, 0, 218.6, 1)
    );
  }

  &.legendary::before {
    background: linear-gradient(
      180deg,
      rgba(229.84, 0, 118.17, 0.2),
      rgba(231.15, 0, 10.76, 1)
    );
  }

  &.gold::before {
    background: linear-gradient(
      180deg,
      rgba(240.03, 176.69, 0, 0.2),
      rgba(225.36, 113.05, 0, 1)
    );
  }
}

.itemName {
  font-size: 14px;
}

.itemImage {
  font-size: clamp(24px, 2vw, 36px);
  text-align: center;
}

.itemValue {
  background: var(--gradient-gold);
  font-size: 14px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.itemCircle {
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  &.common {
    background: linear-gradient(
      135deg,
      rgba(69.1, 85.19, 108.17, 1),
      rgba(49.34, 65.09, 87.59, 1) 100%
    );
  }

  &.uncommon {
    background: linear-gradient(
      135deg,
      rgba(0, 166.08, 61.71, 1),
      rgba(0, 130.05, 53.5, 1) 100%
    );
  }

  &.rare {
    background: linear-gradient(
      135deg,
      rgba(21.32, 92.93, 251.52, 1),
      rgba(19.87, 71.18, 229.95, 1) 100%
    );
  }

  &.epic {
    background: linear-gradient(
      135deg,
      rgba(152.19, 15.74, 250.25, 1),
      rgba(130.03, 0, 218.6, 1) 100%
    );
  }

  &.legendary {
    background: linear-gradient(
      135deg,
      rgba(229.84, 0, 118.17, 1),
      rgba(231.15, 0, 10.76, 1) 100%
    );
  }

  &.gold {
    background: linear-gradient(
      135deg,
      rgba(240.03, 176.69, 0, 1),
      rgba(225.36, 113.05, 0, 1) 100%
    );
  }
}
