@use "@/styles/index" as *;

.openingResult {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  height: 44vw;
}

.caseDetailItem {
  width: 100%;
  max-width: 336px;
  margin-bottom: 24px;
  padding: 24px;
}

.caseDetailItemName {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}

.caseDetailItemImage {
  font-size: 120px;
}

.actionsButtons {
  display: flex;
  width: 100%;
  max-width: 336px;
  gap: 16px;
}

.actionButton {
  width: 100%;
  font-weight: 600;
  line-height: 1.3;
}
