@use "@/styles/index" as *;

.leaderboard {
  position: relative;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--color-bg-secondary);
}

.leaderboardPrize {
  position: absolute;
  top: -32px;
  left: -7px;

  @include maxWidth(xl) {
    top: -22px;
    left: -22px;
  }
}

.leaderboardTitle {
  margin-bottom: 2px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
  font-family: var(--font-satoshi-900);
  text-align: center;
}

.leaderboardDescription {
  margin-bottom: 16px;
  color: var(--color-text-secondary);
  text-align: center;
}

.leaderboardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
