@use "@/styles/index" as *;

.crashWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include minWidth(xl) {
    grid-template-columns: 1fr max(432px);
  }
}

.crashArea {
  @include flexCenter;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 361px;
  overflow: hidden;
  border-radius: var(--radius-16);
  background: #423e6980;

  &.isRunning {
    background: url("/images/crash/crash-bg.svg") no-repeat center center;
    background-size: cover;
  }

  &.isWin,
  &.isLose {
    background: #00000099;
  }

  @include minWidth(xl) {
    height: 511px;
  }
}

.centerArea {
  @include flexCenter;
  z-index: 1;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.centerAreaContent {
  padding: 8px;
  border-radius: var(--radius-16);
  backdrop-filter: blur(16px);

  &.isWin {
    box-shadow: 0px 0px 48px 0px #82c91e;
    color: #82c91e;
  }

  &.isLose {
    box-shadow: 0px 0px 48px 0px #c62121;
    color: #c62121;
  }
}

.crashAreaValue {
  z-index: 2;
  position: relative;
  color: var(--color-text-secondary);
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  font-family: var(--font-satoshi-900);
  text-align: center;
  pointer-events: none;

  &.isWin,
  &.isLose {
    font-weight: 700;
    line-height: 1.2;
  }

  &.isWin {
    color: #82c91e;
  }

  &.isLose {
    color: #c62121;
  }
}

.crashAreaDescription {
  z-index: 2;
  position: relative;
  color: var(--color-text-secondary);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  pointer-events: none;

  &.isWin {
    color: #82c91e;
  }

  &.isLose {
    color: #c62121;
  }
}

.rocketImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.rocket {
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 80px;
  min-height: 80px;
  transform-origin: center center;
  backface-visibility: hidden;
  background: transparent;
  animation: flyRocket 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  pointer-events: none;
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.planet1 {
  display: flex;
  z-index: 5;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  transform-origin: center center;
  backface-visibility: hidden;
  animation: planetMove1 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  pointer-events: none;
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
}

.planet2 {
  display: flex;
  z-index: 5;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  transform-origin: center center;
  backface-visibility: hidden;
  animation: planetMove2 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  pointer-events: none;
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
}

@keyframes flyRocket {
  0% {
    bottom: 10%;
    left: 10%;
    transform: scale(3);
    opacity: 0.1;
  }

  30% {
    opacity: 1;
  }

  100% {
    bottom: 70%;
    left: 70%;
    transform: scale(1.5);
  }
}

@keyframes planetMove1 {
  0% {
    bottom: 75%;
    left: 75%;
    transform: scale(0.5);
    opacity: 0.7;
  }
  100% {
    bottom: 20%;
    left: 15%;
    transform: scale(1.2);
    opacity: 0.2;
  }
}

@keyframes planetMove2 {
  0% {
    bottom: 70%;
    left: 80%;
    transform: scale(0.6);
    opacity: 0.8;
  }
  100% {
    bottom: 15%;
    left: 40%;
    transform: scale(1);
    opacity: 0.3;
  }
}
