:root {
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;

  --color-text-primary: #fff;
  --color-text-secondary: #adb5bd;
  --color-bg-primary: #0f0c29;
  --color-bg-secondary: #423e69;
  --color-bg-main: linear-gradient(
    180deg,
    #0f0c29 0%,
    #312c5f 50%,
    #24243e 100%
  );

  --color-black-22: #151417;
  --color-blue-ff: #51a2ff;
  --color-blue-3f: #24243f;
  --color-blue-cd: #7f76cd;
  --color-blue-e8: #7c7ce8;
  --color-blue-54: #7c7ce854;
  --color-blue-55: #302c55;
  --color-blue-58: #3d3858;
  --color-violet-ff: #887bff;
  --color-red-21: #c62121;
  --color-green-1e: #82c91e;
  --color-grey-84: #848484;
  --color-grey-bd: #adb5bd;
}
