:root {
  /* Fonts */
  --font-inter: "Inter", system-ui, sans-serif;
  --font-manrope: "Manrope", system-ui, sans-serif;
  --font-satoshi-900: "Satoshi-900", system-ui, sans-serif;

  /* Colors */
  --color-text-primary: #fff;
  --color-text-secondary: #adb5bd;
  --color-bg-primary: #0f0c29;
  --color-bg-secondary: #423e69;

  --color-black-22: #151417;
  --color-blue-ff: #51a2ff;
  --color-blue-3f: #24243f;
  --color-blue-cd: #7f76cd;
  --color-blue-e8: #7c7ce8;
  --color-blue-54: #7c7ce854;
  --color-blue-55: #302c55;
  --color-violet-ff: #887bff;
  --color-red-21: #c62121;
  --color-green-1e: #82c91e;
  --color-grey-84: #848484;
  --color-grey-bd: #adb5bd;

  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;

  /* Opacity */
  --opacity-50: 0.5;
  --opacity-33: 0.33;

  /* Shadows */

  /* Radius */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-100: 100px;
  --radius-1000: 1000px;

  /* Transitions */
  --transition-250: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-300: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
