:root {
  /* Fonts */
  --font-inter: "Inter", system-ui, sans-serif;
  --font-manrope: "Manrope", system-ui, sans-serif;
  --font-satoshi-900: "Satoshi-900", system-ui, sans-serif;

  /* Colors */
  --color-text-primary: #fff;
  --color-text-secondary: #adb5bd;
  --color-bg-primary: #0f0c29;
  --color-bg-secondary: #423e69;

  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;

  /* Opacity */
  --opacity-50: 0.5;

  /* Shadows */

  /* Radius */

  /* Transitions */
}
