@use "./reset";
@use "./index" as *;

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #0f0c29, #312c5f, #24243e);
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
