@use "@/styles/index" as *;

.resultsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultItem {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-secondary);
  line-height: 1.5;
}

.resultValue {
  color: var(--color-success);
  font-weight: 600;
  line-height: 1.3;
}
