/* ToggleMenu.module.scss */

.overlay {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); // прозрачный изначально
  opacity: 0;
  pointer-events: none;
  transition:
    background 0.3s ease,
    opacity 0.3s ease;

  &.visible {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;
  }
}

.toggleMenu {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  transform: translateX(100%);
  background: #111;
  color: #fff;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  &.open {
    transform: translateX(0);
    opacity: 1;
  }
}

.toggleMenuContent {
  padding: 20px;
}

.toggleMenuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleMenuButton {
  border: none;
  background: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
