@use "@/styles/index" as *;

.settingsPanelWrapper {
  height: fit-content;
  padding: 24px 32px;
  border-radius: var(--radius-16);
  background: var(--color-section-bg);
}

.settingsPanelTitle {
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
  font-family: var(--font-satoshi-900);
}

.settingsPanel {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include minWidth(md) {
    gap: 24px;
  }
}
