@use "@/styles/index" as *;

.header {
  z-index: 10;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background: transparent;

  @include minWidth(xl) {
    top: 0;
    padding: 24px 0;
    background: linear-gradient(180deg, #0f0c29 0%, #312c5f 50%, #24243e 100%);
  }
}

.headerContent {
  @include flexBetween;
}

.headerLogo {
  display: none !important;

  @include minWidth(xl) {
    display: flex !important;
  }
}

.toggleMenuButton {
  display: block;
  padding: 10px;

  @include minWidth(xl) {
    display: none;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 54px;
}

.userInfoContent {
  display: flex;
  align-items: center;
  gap: 16px;
}

.balance {
  display: flex;
  z-index: 1;
  position: absolute;
  top: -2px;
  left: 50%;
  align-items: center;
  padding: 14px 24px;
  gap: 8px;
  transform: translateX(-50%);
  border: 1px solid var(--color-grey-bd);
  border-radius: var(--radius-1000);
  font-weight: 600;

  @include minWidth(xl) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}

.userAvatar {
  border-radius: 50%;
}

.groupButtons {
  display: none;

  @include minWidth(xl) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.profileButton {
  padding: 8px;
}

.logoutButton {
  display: flex;
  align-items: center;
  padding: 9px 16px !important;
  gap: 2px;
  color: var(--color-text-primary);
}
